<html>
  <head>
  <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
  </head>
  <body style="background-image: url(<%= themeConfig.domain %>/images/bg.jpg)">
      <%- include('./includes/main-left') %>

      <%- include('./includes/post-list') %>
  </body>
</html>
